.container {
    margin-left: auto;
    margin-right: auto;
}

.portrait {
    height: 250px;
    border-radius: 50%;
    border: #219ebc 10px solid;
}

.about {
    padding-top: 20px;
    font-size: 1.5rem;
}