.navbar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-right: 20px;
}

.nav-link {
  color: #d8dbe2;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.nav-link:hover {
  color: #219ebc;
}

.active {
  background-color: #219ebc !important;
  color: black !important;
  font-weight: bold;
}
