.card {
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 3px 3px 5px gray;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  color: #219ebc;
  font-family: "Francois One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
    font-weight: bold;
}

.card:hover {
  border: 5px solid #219ebc;
}

.projectImage {
  width: 100%;
  border: black 2px solid;
  border-radius: 20px;
}

.githubLogo {
  max-width: 30px;
}

@media screen and (max-width: 1200px) {
    p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 992px) {
    h3 {
        font-size: 1.25rem;
    }
}
